<% var title = 'Profile' %>
<% var name = "" %>
<% if(!user) { %>
<% include header %>
<% } else { %>
<% var privilege = user.userInfo.privilege %>
<% name = user.userInfo.firstName  + " " + user.userInfo.lastName %>
<% include header %>
<% } %>

<div class="container">

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Info</h3>

					<p>
						<strong>Email</strong>: <%= userProfile['userInfo']['email'] %><br>
						<strong>First name</strong>: <%= userProfile['userInfo']['firstName'] %><br>
						<strong>Last name</strong>: <%= userProfile['userInfo']['lastName'] %><br>
                        <strong>Age</strong>: <%= userProfile['userInfo']['age'] %><br>
                        <strong>Jersey Number</strong>: <%= userProfile['userInfo']['jerseyNumber'] %><br>
                        <strong>Position</strong>: <%= userProfile['userInfo']['position'] %><br>
                        <strong>Year in college</strong>: <%= userProfile['userInfo']['collegeYear'] %><br>
                        <strong>Major</strong>: <%= userProfile['userInfo']['major'] %><br>
                        <strong>Hometown</strong> <%= userProfile['userInfo']['hometown'] %>

					</p>

			</div>
		</div>

	</div><br>
</div>
</div>
</body>
</html>
