<% var title = 'Roster' %>
<% var name = "" %>
<% if(!user) { %>
<% include header %>
<% } else { %>
<% var privilege = user.userInfo.privilege %>
<% name = user.userInfo.firstName + " " + user.userInfo.lastName %>
<% include header %>
<% } %>
<center><h1 class="ui dividing header">Roster</h1>
<table border="1">
<th>  Jersey Number  </th>
<th>  Name  </th>
<th>  Position  </th>
<th>Age</th>
<th>Hometown</th>
<% for(var i=0; i < nameArray.length; i++) { %>
   <tr>
     <td><%= jerseyArray[i] %></td>
     <td><form action="/getUserProfile" method="post"><input type="text" id="userId" class="test" name="userId" value="<%= memberIdArray[i] %>" hidden><a id="<%= i %>" href="#" onclick="document.forms[this.id].submit();return false;"><%= nameArray[i] %></form></a></td>
     <td><%= positionArray[i] %></td>
     <td><%= ageArray[i] %></td>
     <td><%= hometownArray[i] %></td>
   </tr>
<% } %>
</table>
</body>
</html>